<body>
  <div class="section-cover">
    <% if @user.cover_photo_file_name? %>
      <%= image_tag @user.cover_photo.url(:large), class: "section-cover-image img-responsive" %>
    <% else %>
      <img class="section-cover-image img-responsive" src="http://placehold.it/2000x580">
    <% end %>
  </div>
  <div class="container">
    <div class="row">
      <div class="edit-profile">
        <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_path(@user), class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <div class="profile-image">
          <%= image_tag @user.gravatar_url, class: 'center-block img-thumbnail img-responsive' %>
        </div>
        <h3><%= @user.full_name %></h3>
        <p class="text-muted"><i class="fa fa-map-marker"></i>  <%= @user.city %>, <%= @user.state %></p>
        <p class="text-muted"><i class="fa fa-clock-o"></i> Joined <%= @user.created_at.strftime('%B %Y') %></p>
        <p class="text-muted"><%= @user.products.count %> Products Listed</p>
      </div>

      <div class="col-sm-8">
        <div class="about-user"><p class="lead"><%= @user.about %></p></div>
      </div>

    </div><!-- close .row -->
  </div><!-- close .container -->

  <div class="container products">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h3>Products</h3>
        </div>
        <% @user.products.each do %>
          <%= @product.name %>

        <% end %>

      </div><!-- close .col-xs-12 -->
    </div><!-- close .row -->
  </div><!-- close .container -->




</body>
