<body>
  <div class="section-cover">
    <% if @user.cover_photo_file_name? %>
      <%= image_tag @user.cover_photo.url(:large), class: "section-cover-image img-responsive" %>
    <% else %>
      <%= image_tag("profile-placeholder.jpg", :alt => "Leema Cover Photo", :class => "section-cover-image img-responsive") %>
    <% end %>
    <h1>
      <%= @user.full_name %>
    </h1>
  </div>
  <div class="container">
    <% if @user == current_user %>
      <div class="row">
        <div class="col-xs-12">
          <div class="edit-profile">
            <%= link_to "Edit Profile", edit_path(@user), class: 'btn btn-primary' %>
          </div>
        </div><!-- close .col-xs-12 -->
      </div><!-- close .row -->
    <% end %>

    <div class="row">
      <div class="col-sm-4">
        <div class="profile-image">
          <%= image_tag @user.gravatar_url, class: 'img-thumbnail img-responsive' %>
        </div>
        <h3><%= @user.full_name %></h3>
        <p class="text-muted"><i class="fa fa-map-marker"></i>  <%= @user.city %>, <%= @user.state %></p>
        <p class="text-muted"><i class="fa fa-clock-o"></i> Joined <%= @user.created_at.strftime('%B %Y') %></p>
        <% if @user.supplier? %>
          <p class="text-muted"><%= @supplier.products.count %> Products Listed</p>
          <a href="#" class="btn btn-favorite"> Favorite</a>
        <% end %>
      </div>

      <div id="profile-about" class="col-sm-8">
        <div class="about-user"><p class="lead"><%= @user.about %></p></div>
      </div>

    </div><!-- close .row -->
  </div><!-- close .container -->

  <div class="container products">
    <div class="row">
      <div class="col-xs-12">
        <% if @user.supplier? %>
          <div class="page-header">
            <h3>Products</h3>
          </div>
          <% @supplier.products.each do |product| %>
            <div class="col-sm-4 col-xs-12 welcome-product">
            <%= link_to 'store/products/' + product.id.to_s, :class => 'product-link', :itemprop => "name", :title => product.name do %>
              <%= image_tag product.images.first.attachment.url(:large), :class => 'img-responsive center-block' %>

              <div class="seller-info">
              <h3 class="seller-name"><%= product.name %></h3>
              <p class="product-descr"><%= product.description %></p>
            </div>
            <% end %>
          <% end %>
        <% end %>

      </div><!-- close .col-xs-12 -->
    </div><!-- close .row -->
  </div><!-- close .container -->




</body>
