<div data-hook="supplier_address_wrapper" class="alpha six columns">
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t('contact_address') %></legend>
    <%= form.fields_for :address do |contact_form| %>
      <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => contact_form, :name => Spree.t(:contact_address), :type => "shipping" } %>
    <% end %>
  </fieldset>
</div>

<div data-hook="supplier_details_wrapper" class="alpha six columns">
  <fieldset class="no-border-bottom">
    <legend><%= Spree.t('supplier_details') %></legend>
    <!-- auto populate name and email if user is a new supplier -->
    <% if spree_current_user.supplier? == false %>
      <%= form.field_container :name do %>
        <%= form.label :full_name, Spree::Supplier.human_attribute_name(:full_name) %>:<br />
        <%= form.text_field :name, :class => 'fullwidth title', :value => spree_current_user.full_name %>
      <% end %>
      <%= form.field_container :email do %>
        <%= form.label :email, Spree::Supplier.human_attribute_name(:email) %>:<br />
        <%= form.email_field :email, :class => 'fullwidth text', :value => spree_current_user.email %>
      <% end %>
    <!-- when editing or viewing another supplier dont auto populate name/email -->
    <% else %>
      <%= form.field_container :name do %>
        <%= form.label :full_name, Spree::Supplier.human_attribute_name(:full_name) %>:<br />
        <%= form.text_field :name, :class => 'fullwidth title' %>
      <% end %>
      <%= form.field_container :email do %>
        <%= form.label :email, Spree::Supplier.human_attribute_name(:email) %>:<br />
        <%= form.email_field :email, :class => 'fullwidth text' %>
      <% end %>
    <% end %>
    <%= form.field_container :url do %>
      <%= form.label :url, Spree::Supplier.human_attribute_name(:url) %>:<br />
      <%= form.text_field :url, :class => 'fullwidth text' %>
    <% end %>
    <%= form.field_container :users do %>
      <%= hidden_field_tag 'supplier[user_ids_string]', form.object.user_ids.join(','), :value => spree_current_user.id.to_s %>
    <% end %>
    <%= form.field_container :active do %>
      <%= hidden_field_tag :active, :checked => true %>
    <% end %>
    <div class='center'>
      <% if form.object.new_record? %>
        <%= button Spree.t('create') %>
      <% else %>
        <%= button Spree.t('update') %>
      <% end %>
      
    </div>
    
  </fieldset>
</div>
