<section class="masthead home" id="content" role="main">
  <div class="container">
		<div class="row">
			 <div class="col-xs-12 intro">
				 	<h1 class="text-center">The marketplace that connects culinary artists to people with great taste.</h1>
			  	<a href="#" class="btn btn-lg btn-primary">Browse Our Products</a>
		  </div>
		</div>
  </div><!-- /.container -->
</section><!-- /.masthead -->


<section id="welcome-product-grid">
	<div class="container"
		<div class="row">
			<h2 class="text-center">Expore The Most Popular Treats On The Market</h2>
			<% @products.first(6).each do |product| %>
			<div class="col-md-4 col-sm-6 col-xs-12 welcome-product">
				<%= link_to 'store/products/' + product.id.to_s, :class => 'product-link', :itemprop => "name", :title => product.name do %>
				<%= image_tag product.images.first.attachment.url(:large), :class => 'img-responsive center-block' %>

				<div class="seller-info">
					<h3 class="seller-name"><%= product.name %></h3>
					<p class="product-descr"><%= product.description %></p>
				</div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</section><!-- /#welcome-product-grid -->

<section id="reindeer" class="image-break">

</section>

<section class="text-break">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>Exceptional Creations</h2>
				<p>Every product that is sold on Leema is created with passion from the heart and soul of its’ creator. We built Leema to build a community of people who have a passion for creating exceptional products as well as enable them to share their creations with the entire country. We believe in passion and perfection which is why every product sold on Leema is nothing short of exceptional.</p>
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>

<section id="features-benefits">
	<div class="container">
		<h2 class="text-center">Some Really Trendy Phrase</h2>
		<div class="row">
			<div class="col-sm-4">
				<i class="fa fa-recycle"></i>
				<h4>Your Own Store</h4>
				<p>Ever dream about having your own store? Now you’ve got one! Leema gives you a fully customizable online storefront that will allow you to promote your brand. With just a few clicks, your store will be open for business!</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-cutlery"></i>
				<h4>Out of the Box</h4>
				<p>Leema gives you a robust selling, payment processing, and marketing platform for free! When your item sells, we collect a 10% fee on the sale price. Get back to what you love to do, let us take care of the rest. Don’t you wish everything was this simple?</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-heart"></i>
				<h4>Made With Love</h4>
				<p>Every product that our merchants create is painstakingly prepared to be of the highest quality. Putting their heart and souls into creating the best, you can feel confident that you are receiving a truly exceptional creation.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<i class="fa fa-truck"></i>
				<h4>Delivery</h4>
				<p>Whether you’re 2 miles or 200 miles away, our network of local and national delivery services will ensure that you will always receive your product fresh and undamaged. It’s as if your package is their own child.</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-users"></i>
				<h4>Join the Community</h4>
				<p>Leema’s community revolves around the creations that are bought and sold, allowing makers to share stories, recipes, secrets, and ideas. This is a community that truly sees food for what it is, an expression of the person who created it.</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-shield"></i>
				<h4>Secure Checkout</h4>
				<p>Using Stripe to process all transactions, we give you the peace of mind that your information is safe every time you make a purchase or sell a product. Whether paying by credit card, debit card, check, doubloons, sheckles, or shillings, your information is safe and secure.</p>
				<p>
			</div>
		</div>
	</div>
</section>


<section id="get-started">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>Start eating today.</h2>
				<%= link_to "Get Started", spree_path, class: "btn btn-primary" %>
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>

<section id="sign-up">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-xs-12">
				<h2 class="text-center">Treat Your Inbox</h2>
					<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
						   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
						   #mc_embed_signup input.email{
						   		margin: 0px;
						   		padding: 6px 12px;
						   		text-indent: 0px;
						   		width: 100%;
						   }

						   #mc_embed_signup input {
						   	border:none;
						   }
					</style>
					<div id="mc_embed_signup">
					<form action="//leema.us9.list-manage.com/subscribe/post?u=fe76382460426af73d53fa5ed&amp;id=23cdff1ccd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div class="input-group">
					      <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email Address" required>
						    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;"><input type="text" name="b_fe76382460426af73d53fa5ed_23cdff1ccd" tabindex="-1" value=""></div>
					      <span class="input-group-btn">
					        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
					      </span>
					    </div><!-- /input-group -->

					</form>
					</div>

					<!--End mc_embed_signup-->
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>
