<section class="masthead" id="content" role="main">
  <div class="container">
    <div class="row search-leema abs-center">
	  <div class="col-xs-12">
	   	<%= form_tag products_path, :method => "get" do %>
	    	<div class="input-group">
		      <%= text_field_tag :search, params[:search], class: 'form-control input-lg main-search', placeholder: "What are you looking for?" %>
		    	<span class="input-group-btn">
		      	<%= button_tag(type: 'submit', class: 'btn btn-primary btn-lg', :name => nil) do %>
		      	<i class="fa fa-search"></i>
		      	<% end %>
		    	</span>
		    </div><!-- /input-group -->
		<% end %>

	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.masthead -->

<section id="welcome">
	<div class="container">
		<div class="row">
			<h1 class="text-center">Welcome to <span class="logo">Leema</span></h1>
			<p class="text-center lead">Expore the most popular treats on the market</p>
			<%= image_tag "postmates.png", class: 'img-responsive center' %>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<section id="welcome-product-grid">
	<div class="container"
		<div class="row">
			<% @products.first(6).each do |product| %>
			<div class="col-sm-4 col-xs-12 welcome-product">
				<!--TODO: The links to the products are not routing to the /products part of the path where Spree is mounted. I'll have to work on that -->
				<%= link_to product, :class => 'product-link', :itemprop => "name", :title => product.name do %>
				<%= image_tag product.images.first.attachment.url(:large), :class => 'img-responsive center-block' %>
				<div class="seller-info">
					<h3 class="seller-name"><%= product.name %></h3>
					<p class="product-descr"><%= product.description %></p>
				</div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</section><!-- /#welcome-product-grid -->

<section id="reindeer" class="image-break">

</section>

<section class="text-break">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>Exceptional Creations</h2>
				<p>Semiotics messenger bag bespoke, Williamsburg gluten-free Etsy hashtag pork belly pop-up salvia umami post-ironic letterpress. Four dollar toast raw denim mlkshk Intelligentsia lomo before they sold out small batch. Locavore Thundercats cliche deep v put a bird on it raw denim. Fixie listicle Williamsburg lomo mustache, Banksy Thundercats 3 wolf moon hella Neutra disrupt cronut. Kogi mixtape McSweeney's, Pitchfork tote bag authentic meditation wayfarers street art fingerstache typewriter Thundercats polaroid chillwave wolf. Pinterest small batch plaid, polaroid scenester Echo Park letterpress art party yr cronut asymmetrical banh mi pork belly. Farm-to-table freegan polaroid messenger bag American Apparel.</p>
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>

<section id="features-benefits">
	<div class="container">
		<h2 class="text-center">Some Really Trendy Phrase</h2>
		<div class="row">
			<div class="col-sm-4">
				<i class="fa fa-recycle"></i>
				<h4>Your Own Store</h4>
				<p>Ever dream about having your own store? Now you've got one! Leema gives you the ability to build a fully customizable online storefront that will allow you to promote your brand. With just a few clicks, your store will be open for business!</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-cutlery"></i>
				<h4>Out of the Box</h4>
				<p>Leema gives you a robust marketing, ecommerce, and selling platform. Get back to what you really love to do, let us take care of the rest. Don't you wish everything was this simple?</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-heart"></i>
				<h4>Made With Love</h4>
				<p>Every product that our merchants create is painstakingly prepared to be of the highest quality. Putting their heart and souls into creating the best, you can feel confident that you are receiving a truly exceptional creation.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<i class="fa fa-truck"></i>
				<p>Delivery</p>
				<p>Whether you're 2 miles or 200 miles away, our network of local and national delivery services will ensure that you will always receive your product fresh and undamaged. By partnering with Postmates and EasyPost you can be sure that your order will be cared for as if it were their own child.</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-users"></i>
				<h4>Join the Community</h4>
				<p>From watching the big game around a plate of wings to discussing your day at the dinner table, communities have always formed around food. Leema's community revolves around the creations that are bought and sold, allowing creators to share stories, recipes, secrets, and ideas. This is a community that truly sees food for what it is, an expression of the person who created it.</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-shield"></i>
				<h4>Secure Checkout</h4>
				<p>Using (some payment) to process all transactions, we give you the peace of mind of knowing that your information is safe every time you make a purchase or sell a product. Whether you use a credit card, debit card, check, doubloons, sheckles, or shillings, your information is safe and secure.</p>
				<p>
			</div>
		</div>
	</div>
</section>


<section id="get-started">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>Start eating today.</h2>
				<a href="#" class="btn btn-primary">Get Started</a>
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>
