<div class="container">
  <div class="col-md-6">
    <h1>
      <%= best_in_place @product, :title %>
    </h1>
    <%= image_tag @product.photo.url %>
    <p>
      <strong>Price:</strong>
      <%= humanized_money_with_symbol @product.price %>
     
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
  <!-- Comments List -->
    <ol class="comment-list media-list">
    <% @product.comments.each do |comment| %>
      <li id="comment-3" class="comment even thread-even depth-1 parent">
      <article id="div-comment-3" class="comment-body media">
      <a class="pull-left" href="#">
        <%= image_tag @user.gravatar_url, class: 'avatar avatar-50 photo', height:'50', width:'50' %>
      </a>
      <div class="media-body">
        <div class="media-body-wrap panel">
          <header>
            <span class="post-byline">
              <a href="/<%= @user.id %>"><span class="author publisher-anchor-color"><%= @user.full_name %></span></a>
            </span>
            <span class="post-meta">
              <em><%= time_ago_in_words(comment.created_at)%> ago</em>
            </span>
          </header> 
          <div class="comment-content">
            <p><%= comment.body %></p>
            <% if current_user == @user %>
        <p>
          <%= link_to 'Delete Comment', [comment.product, comment],
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %>
                  
        </p>
      <% end %>
          </div><!-- .comment-content -->                    
        </div>

      </div><!-- .media-body -->

      </article><!-- .comment-body -->

      </li>
    <% end %>
    </ol>

    <h4>Add a comment:</h4>
    <%= render 'comments/form' %>

    <!--Rating system
    <% form_id = "product_#{@product.id}_rating" %>
      <% if user_signed_in? %> <!-- To avoid throwing an exception if no user is signed in
        <% user_id = user_signed_in? ? current_user.id : "-1" %>
      <% else %>
        <% user_id = -1 %>
      <% end %>
      <h4>Add a rating:</h4>        
      <%= form_for @product.ratings.find_or_create_by(user_id: user_id), :html => {:id => form_id, :class => "star_rating_form"} do |f| %>
          <%= f.hidden_field :product_id, :value => @product.id %>
          <% if user_signed_in? %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
          <% end %>        
          <%= f.hidden_field :score, :id => form_id + "_stars" %>
      <% end %>
      <% (1..5).each do |i| %>
        <li class="rating_star" id="<%= form_id %>_<%= i %>" data-stars="<%= i %>" data-form-id="<%= form_id %>"></li>
      <% end %>
      <br><br>-->
      <%= link_to "Back", products_path %> | 
      <%= link_to 'Edit', edit_product_path(@product) %>

  </div>
</div>